*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body {
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9hPLUNJ4r5d_FRT8cgqZSaITKPkVp76VQGg&s');
        font-family: 'Segoe UI', Verdana, sans-serif;
        color: #ffffff;

    }
    .container {
    margin: 250px 0 20px 150px;
    }
    .title {
    font-size: 80px;
    }
    .subtitle {
    margin: 20px 0 50px 0;
    font-size: 30px;
    }